<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link href="{{ '/assets/css/main.css' | absolute_url }}" rel="stylesheet">
  <style>
    .hoverable {
      transition: 0.3s;
    }

    .hoverable:hover {
      /* background-color: #f8f9fa; */
      /* Set box shadow only at bottom */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }

    .shaded {
      box-shadow: 
        0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    }
  </style>
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-96x96.png' | absolute_url }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon/favicon.svg' | absolute_url }}" />
  <link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | absolute_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | absolute_url }}" />
  <link rel="manifest" href="{{ '/assets/images/favicon/site.webmanifest' | absolute_url }}" />
</head>