
pre {
    padding: 1em;
    border-radius: 10px;
    margin: 0;
    position: relative;
    overflow: visible;
    margin-top: 24px;
}

pre::before {
    position: absolute;
    content: "Code";
    color: white;
    background-color: rgb(38, 30, 30);
    border-radius: 10px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px solid white;
    top: -1.2em;
    transition: all 0.2s;
}

pre:hover::before {
    border-right-width: 4px;
    border-bottom-width: 4px;
}

div.codeResult {
    padding: 1em;
    border-radius: 10px;
    margin: 0;
    background-color: lightgray;
    position: relative;
    overflow: visible;
    margin-top: 24px;
}

div.codeResult::before {
    position: absolute;
    content: "Output";
    color: black;
    background-color: lightgray;
    border-radius: 10px;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px solid white;
    top: -1.1em;
    transition: all 0.2s;
}

div.codeResult:hover::before {
    border-right-width: 4px;
    border-bottom-width: 4px;
}

div.codeResult p::before {
    content: "> ";
    font-weight: bold;
}

div.codeResult p {
    margin: 0;
}