name: Build and Deploy Jekyll page

# Only run this when the main branch changes
on:
  push:
    branches:
    - main

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push a branch 
      pages: write  # To push to a GitHub Pages site
      id-token: write # To update the deployment status
    steps:
    - uses: actions/checkout@v4

    # Sets up the Ruby environment needed to build Jekyll
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4' # Specify your desired Ruby version check Jekyll requirements
        bundler-cache: true # Caches gems for faster builds

    # Installs Jekyll and other dependencies defined in Gemfile
    - name: Install Dependencies
      run: bundle install

    # Builds the Jekyll site
    - name: Build Site
      run: |
        bundle exec jekyll build
      env:
        JEKYLL_ENV: production # Ensures production configuration is used

    - name: Setup Pages
      uses: actions/configure-pages@v5

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        # Upload entire repository
        path: '_site'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
